.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

.accueil-photos {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  
  text-align: center; /* Centre le contenu horizontalement */
}

.titre {
  color: #cb2c7c;
  text-align: center;
  margin-bottom: 50px;
}

.accueil-photos img {
  margin: 0 7.5px; /* Espacement horizontal entre les images (15px divisé par 2) */
  max-width: 600px; /* Ajustez la largeur des images selon vos besoins */
  height: auto;
}

/* Pour portable et tablette */

@media screen and (max-width: 996px){
  .accueil-introduction{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accueil-introduction div{
    padding-right: 0px;
    text-align: center;
    order: 2;
}



}