@media screen and (max-width: 996px){
  * {
    margin: 0;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #000000;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  em {
    color: #da339b;
    font-style: normal;
  }
  
  h1 {
    font-size: 1.5em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    color: #da339b;
    text-align: center;
  }
  
  p {
    font-size: 0.8em;
    color: white;
    text-align: center;
    margin: 30px 20px; /* Ajustez la marge comme souhaité */
    line-height: 1.4; /* Ajustez l'interligne comme souhaité */
  }
  
  header {
    background-color: rgb(0, 0, 0);
    padding: 5px 0px;
    text-align: center;
    position: fixed; /* Fixe le header en haut de la page */
    top: 0; /* Place le header tout en haut de la page */
    width: 100%; /* Utilise la largeur complète de la page */
    z-index: 1000; /* Assure que le header est affiché au-dessus du contenu */
  }
  
  header img {
    max-width: 80px; /* Ajustez la largeur maximale du logo selon vos besoins */
    height: auto; /* Laissez la hauteur ajustée automatiquement pour préserver les proportions */
  }

  /* Espace entre les icone réseaux sociaux */
  .lien-icone {
    display: inline-block;
    vertical-align: top;
    margin: 10px; /* Largeur entre les icones*/
  }
  
  .lien-icone img {
    max-width: 20px; /* Ajustez la largeur maximale des icônes */
    height: auto; /* Laissez la hauteur ajustée automatiquement pour préserver les proportions */
  }
  
  /* Transparence icones réseaux sociaux */
  .lien-icone:hover {
    opacity: 0.5;
  }
  
  footer {
    text-align: center;
    padding: 20px;
  }
  
  /* Disposition du nav */
  nav {
    text-align: center;
    padding: 10px;
  }

  .accueil-photos {
    background-color: rgb(0, 0, 0);
    text-align: center; /* Centre le contenu horizontalement */
  }

  .titre {
    color: #da339b;
    margin-bottom: 30px;
  }
  
  .photopetite {
    margin: 2px 2px; /* Espacement horizontal entre les images (20px divisé par 2) */
    max-width: 50%; /* Ajustez la largeur des images selon vos besoins */
    height: auto;
  }
  
  .photogrande {
    max-width: 50%; /* Ajustez la largeur des images selon vos besoins */
    height: auto;
  }

  .portrait {     /* Photo de portrait */
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    padding-bottom: 30px;
    padding-top: 120px;
  }
  
  span {
    display: block;
    font-size: 0.5em;
    font-style: italic;
    color: white;
  }
}  
