@media screen and (max-width: 996px){
  * {
    margin: 0;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #000000;
  }
    
  em {
    color: #da339b;
    font-style: normal;
  }
  
  h1 {
    font-size: 1em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    color: #da339b;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
    text-decoration-color: #da339b; /* Couleur du soulignement */
    text-underline-offset: 4px;
  }
  
/**********************************************/
/******************HEADER*********************/
/*********************************************/

  header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
  }
  
  .logo-container img {
    max-width: 100px;
    height: auto;
  }
  
  /*.fleur img {
    max-width: 50px;
    height: auto;
  } */

  .social-icons {
    display: flex;
    align-items: center; /* Aligne les icônes de réseaux sociaux verticalement */
    margin-right: 10px;
  }
  
  .lien-icone {
    display: inline-block;
    margin-left: 10px;
  }
  
  .lien-icone img {
    max-width: 30px;
    height: auto;
  }
  
  .lien-icone:hover {
    opacity: 0.5;
  }
  
/**********************************************/
/******************BIO************************/
/*********************************************/  

p {
  font-size: 0.8em;
  color: white;
  text-align: center;
  margin: 30px 15%;
  line-height: 1.4; /* Ajustez l'interligne comme souhaité */
}

  .portrait {     /* Photo de portrait */
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
    padding-bottom: 30px;
    padding-top: 120px;
  }

/**********************************************/
/******************PHOTOS**********************/
/*********************************************/

  .accueil-photos {
    background-color: rgb(0, 0, 0);
    text-align: center; /* Centre le contenu horizontalement */
  }
  
  .photopetite {
    margin: 2px 2px; /* Espacement horizontal entre les images (20px divisé par 2) */
    max-width: 45%; /* Ajustez la largeur des images selon vos besoins */
    height: auto;
  }
  
  .photogrande {
    max-width: 70%; /* Ajustez la largeur des images selon vos besoins */
    height: auto;
  }
  
/**********************************************/
/******************FOOTER*********************/
/*********************************************/

  footer {
    text-align: center;
    padding: 20px;
  }

  span {
    display: block;
    font-size: 0.5em;
    font-style: italic;
    color: white;
  }
}  